@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

.ember-application{
	background-color: dimgray;
}
//Just testing the things

/*Navigation buttons at the top of the page*/
.navButton{
	background-color:#d81213;
	padding:10px;
	border-radius: 4px;
	text-decoration:none;
	color:white;
	font-size:16px;
    font-family: monospace;
}

.calendarWrapper{
	width:90%;
	height:90%;
	box-shadow: 5px;
	background-color:#E2E0E0;
	border-radius:8px;
	min-height:300px;
	min-width:300px;
    margin-top:30px;


}

#logo{
	background-image: url('./assets/images/logo.png');
}

.logoTileWrapper{
	width:100%;
	height:100%;
	background-color:"white";
}

.blankTile{
	min-width:100%;
	min-height:100%;
	//background-color:gray;
}




calendarContainer{
	@include outer-container;
}

calendarViewMain{
	@include span-columns(10);
	background-color:gray;
	logoHeader{	@include span-columns(2 of 10); }
	dayTileHeader{ @include span-columns(1 of 10); }
}

calendarViewCoaches{
	@include span-columns(2);
}