.ember-application{
	background-color: dimgray;
}


/*Navigation buttons at the top of the page*/
.navButton{
	background-color:#d81213;
	padding:10px;
	border-radius: 4px;
	text-decoration:none;
	color:white;
	font-size:16px;
    font-family: monospace;
}

.calendarWrapper{
	width:90%;
	height:90%;
	box-shadow: 5px;
	background-color:white;
}
