.ember-application{
	background-color: dimgray;
}


/*Navigation buttons at the top of the page*/
.navButton{
	background-color:#d81213;
	padding:10px;
	border-radius: 4px;
	text-decoration:none;
	color:white;
	font-size:16px;
    font-family: monospace;
}

.calendarWrapper{
	width:90%;
	height:90%;
	box-shadow: 5px;
	background-color:#E2E0E0;
	border-radius:8px;
	min-height:300px;
	min-width:300px;


}

#logo{
	background-image: url('/assets/images/logo.png');
}

.logoTileWrapper{
	width:50px;
	height:50px;
	background-color:"white";
}