@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

.ember-application{
	background-color: dimgray;
}


/*Navigation buttons at the top of the page*/
.navButton{
	background-color:#d81213;
	padding:10px;
	border-radius: 4px;
	text-decoration:none;
	color:white;
	font-size:16px;
    font-family: monospace;
}

/*-----------------------------CALENDAR RELATED CSS-------------------------------*/
//The outer shell of the calendar page
.calendarWrapper{
	width:90%;
	height:90%;
	box-shadow: 5px;
	background-color:#E2E0E0;
	border-radius:8px;
	min-height:500px;
	min-width:300px;
    margin-top:30px;


}

#tile{
    min-width:100px;
    
   // max-width:100%;
}

#logo{
	width:100%;
                max-width:177px;
        


}

.logoTileWrapper {
	width:100%;
	height:100%;
                
	background-color:inherit;
                border-right-color:black;
                border-right-width:2px;
                border-right-style:solid;
}

 .weekTileWrapper {
	width:100%;
	height:100%;
	background-color:#d81213;
                border-right-color:black;
                border-right-width:2px;
                border-right-style:solid;
              border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                height:inherit;
                padding:none;
                position:relative;
                height:100px;
                
        
}


.headerTileSTTS{
	width:inherit;
	height:100%;
	background-color:#d81213;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                padding:none;
                position:relative;
             min-height:75px;
                 
                    
}
.headerTileMWF{
	width:inherit;
	height:100%;
	background-color:#ABABAB;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                padding:none;
                position:relative;
                min-height:75px;
                    
       
}
.blankTileSTTS{
	min-width:100%;
	min-height:100px;
                height:100%;
	background-color:#E2E0E0;
	//margin-top:17px;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                position:relative;
                
}
.blankTileMWF{
	min-width:100%;
	min-height:100px;
                height:100%;
	background-color:#ABABAB;
	//margin-top:17px;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                position:relative;
                
}

//Anything related to the sass compilation of the view, normal CSS should be edited above
calendarContainer{
            @include outer-container;
            
            calendarRow{
             @include row(table);
             height:100%;
                    calendarViewMain{
                        @include span-columns(10);
                        word-spacing:-.25em;
                        background-color:#E2E0E0;
                        
                        position:relative;
                        @include display(-webkit-box);
                        width:100%;
                        height:100%;
                        margin: 0 0 0 0;
                        padding:0 0 0 0;
                        logoHeader{	@include span-columns(2 of 10); }
                        dayTileHeader{ @include span-columns(1 of 10); height:100%;    }
                        blankTile{ @include span-columns(1 of 10);      }
                    }

            calendarViewCoaches{
	@include span-columns(2);
                    max-width:100px;
                 border-left-style:solid;
                 border-left-width:2px;
                 border-left-color:black;
                    
            }
            }
}






/*-----------------------------END CALENDAR RELATED CSS-------------------------------*/