@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

.ember-application{
	//background-color: #3C3C3C;  change back to this value at the end
                background-color:white;
}


/*Navigation buttons at the top of the page*/
.navButton{
	background-color:#d81213;
	padding:10px;
	border-radius: 4px;
	text-decoration:none;
	color:white;
	font-size:16px;
    font-family: monospace;
}

/*-----------------------------CALENDAR RELATED CSS-------------------------------*/
//The outer shell of the calendar page
.calendarWrapper{
	width:90%;
	height:90%;
	box-shadow: 5px;
	background-color:#E2E0E0;
	//border-radius:8px;
	min-height:500px;
	min-width:300px;
    margin-top:30px;


}

#tile{
    min-width:100px;
    
   // max-width:100%;
}

#logo{
    max-width:100%;
    max-height:80px;
    display:none;    
}

.logo{
	width:100%;
                max-width:177px;
        


}

.logoTileWrapper {
	width:100%;
	height:100%;
                
	background-color:inherit;
                border-right-color:black;
                border-right-width:2px;
                border-right-style:solid;
}

 .weekTileWrapper {
	width:100%;
	height:100%;
	background-color:#d81213;
                border-right-color:black;
                border-right-width:2px;
                border-right-style:solid;
              border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                height:inherit;
                padding:none;
                position:relative;
                height:100px;
                
        
}


.headerTileSTTS{
	width:inherit;
	height:100%;
	background-color:#d81213;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                padding:none;
                position:relative;
             min-height:75px;
                 
                    
}
.headerTileMWF{
	width:inherit;
	height:100%;
	background-color:#ABABAB;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                padding:none;
                position:relative;
                min-height:75px;
                    
       
}
.blankTileSTTS{
	min-width:100%;
	min-height:100px;
                height:100%;
	background-color:#E2E0E0;
	//margin-top:17px;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                position:relative;
                
}
.blankTileMWF{
	min-width:100%;
	min-height:100px;
                height:100%;
	background-color:#ABABAB;
	//margin-top:17px;
        border-bottom-style:solid;
              border-bottom-width:2px;
                border-bottom-color:white;
                
                position:relative;
                
}

//Anything related to the sass compilation of the view, normal CSS should be edited above
calendarContainer{
            @include outer-container;
            
            calendarRow{
             @include row(table);
             height:100%;
                    calendarViewMain{
                        @include span-columns(10);
                        word-spacing:-.25em;
                        background-color:#E2E0E0;
                        
                        position:relative;
                        @include display(-webkit-box);
                        width:100%;
                        height:100%;
                        margin: 0 0 0 0;
                        padding:0 0 0 0;
                        logoHeader{	@include span-columns(2 of 10); }
                        dayTileHeader{ @include span-columns(1 of 10); height:100%;    }
                        blankTile{ @include span-columns(1 of 10);      }
                    }

            calendarViewCoaches{
	@include span-columns(2);
                    max-width:100px;
                 border-left-style:solid;
                 border-left-width:2px;
                 border-left-color:black;
                    
            }
            }
}






/*-----------------------------END CALENDAR RELATED CSS-------------------------------*/



/*---------------------------COACH RELATED CSS----------------------------------------*/
.coachWrapper{
    background-color:#3C3C3C;
    min-height:300px;
    min-width:100%;
    margin-top:30px;
    @include outer-container;
}

.coachLeftSide{
    @include span-columns(4);
    padding-left:20px;
    padding-top:15px;
    
}

.coachCalendar{
    @include span-columns(7);
    @include outer-container;
    .calRow{
       @include row(table);
           .coachDayTileWrapper{
        @include span-columns(1 of 7);
    }
    }
    
    
   
}

.coachRightSide{
    @include span-columns(1);

}

.profilePic{
    width:50%;
    padding-top:5px;
    padding-bottom:17px;
}

.contactInfo{
    color:red;
    
}

.activeRow{
    @include row;
    width:125px;
    padding-bottom:10px;
    
}
.activityButton{
    @include span-columns(6);
    height:30px;
    width:50%;
    margin: 0 0 0 0;
    background-color:red;
}
.inactivityButton{
    @include span-columns(6);
    height:30px;
    width:50%;
    margin: 0 0 0 0;
    background-color:white;
}

.hourTracker{
    
    width:200px;
    background-color:red;
    height:40px;
    border-radius:4px;
    margin-bottom:30px;
    margin-top:90px;
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors: 
    desaturate($action-color, 30%), 
    #3581A5, 
    #5FBEBE,
    #98C79A,
    #A7A891, 
    #BDCC97,
    #979EA0;
 $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 14em;

  @include clearfix;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { 
// assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }
      }
    }
  }

  .grid-item img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-item p {
    color: transparentize($grid-item-color, 0.3);
    line-height: 1.5em;
    margin: auto;
    
    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }  
    }
  }

  .grid-item-image {
    background: url("https:
//raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/*---------------------------END COACH RELATED CSS----------------------------------------*/