<!-- Everything in the header section on this page will load throughout the entire app.-->
<header style = "margin-left:125px">
<h2 id="title">Under Development</h2>
{{#link-to 'calendar' class='navButton'}}Calendar{{/link-to}}
{{#link-to 'admin' class='navButton'}}Admin Page{{/link-to}}
{{#link-to 'coach' class='navButton'}}Coaches Page{{/link-to}}
</header>


{{outlet}}


<!-- Everything in the footer section on this page will load throughout the entire app.-->
<footer style = "margin-left:125px">
<h3>An app for the modern day workplace. </h3>
</footer>