<!-- Everything in the header section on this page will load throughout the entire app.-->
<header>
<h2 id="title">Under Development</h2>
{{#link-to 'calendar'}}Calendar{{/link-to}}
{{#link-to 'admin'}}Admin Page{{/link-to}}
{{#link-to 'coach'}}Coaches Page{{/link-to}}
</header>

<div>
{{outlet}}
</div>

<!-- Everything in the footer section on this page will load throughout the entire app.-->
<footer>
<h3>An app for the modern day workplace.</h3>
</footer>