{{yield}}

<!-- Left third of coach's page. holds information about the particular coach that is logged in-->
<div class ={{bioWrapper}}>
    <img class="profilePic" src="assets/images/profPic.png">
</div>

<div class="activeRow">
    <div class ="activityButton">
    
    </div>
    <div class="inactivityButton">
        
    </div>

</div>
<!--<p>{{contact-info joey}}</p>------------------ FOR WHEN THE DATABASE CAN GIVE INFORMATION.-->
<p class = "contactInfo">Rabbit Dale <br>1024 Basic Ave<br>gotaluvme07@hotmail.com<br>1(800-302-4088</p>