<!--This component is for the sidebar on the right that will hold the coaches for dragging into the schedule-->
{{#if header}}
<div class = {{coachHeaderTile}}>
     <p>Coaches</p>
</div>	
{{else}}
<!-- COACH NAME AND INFORMATION TILE-->
<div class ="coachPlate">
    <p>Mr. Jones</p>
</div>
{{/if}}

{{yield}}
