<!--This component is for the sidebar on the right that will hold the coaches for dragging into the schedule-->
{{#if header}}
<h3>Coaches</h3>
	
{{else}}
<!-- COACH NAME AND INFORMATION TILE-->
{{/if}}

{{yield}}
