
{{#unless header}}
<h2>hello</h2>

{{else}}
<div class="headerTileSTTS">
<p class="daysOfWeekC">{{day}}</p>
</div>
{{/unless}}
{{yield}}
<!-- Will Eventually contain a formatted display of the class information for a given day for the coach logged in-->
