<!--This component is for the sidebar on the right that will hold the coaches for dragging into the schedule-->
{{#if header}}
<div class = {{coachHeaderTile}}>
     Coaches
</div>	
{{else}}
<!-- COACH NAME AND INFORMATION TILE-->
{{/if}}

{{yield}}
